@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:500px){
    .nav_logo{
        width: 0px !important;
        height: auto !important;
        background-color: black !important;
        display: none !important;
    }
    .right__logo{
        margin-top: 2px;
        flex: 0 !important;
        display: none !important;
    }
    .left__container__links{
        width: 100vw !important;
        display: flex !important;
        justify-content: space-around !important;
        align-items: center !important;
        flex:1;
    }
    .Navbar{
        width: 100% !important;
    }
}
@media only screen and (max-width:800px){
    .nav_logo{
        width: 0px !important;
        height: auto !important;
        display: none !important;

    }
    .right__logo{
        margin-top: 2px;
        flex: 0 !important;
    }
    .left__container__links{
        width: 100% !important;
        flex: 1 !important;
    }
    .Navbar{
        width: 100% !important;
    }
}
@media only screen and (max-width:990px){
    .nav_logo{
        width: 50px !important;
        height: auto !important;
        display: none !important;
    }
    .right__logo{
        margin-top: 2px;
        flex: 0.5 !important;
    }
    .left__container__links{
        width: 100% !important;
        flex: 1.5 !important;
    }
    .Navbar{
        width: 100% !important;
    }
}
.Navbar{
    position: fixed;
    top: 0%;
    left: 0;
    height: 10vh;
    width: 100%;
    color:black;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.nav_logo{
    width: 9%;
    height: auto;
}
.right__logo{
    margin-top: 2px;
    flex: 0.5;
}
.left__container__links{
    height: 100%;
    flex: 0.5;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 20;
    align-items: center;
}
.nav_link{
    background-color: white;
    color: black;
    height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    color: #000;
    
}
.nav_link:hover{
    cursor: pointer;
    pointer-events: auto;
}
